<div class="main-container">
  <div class="flex column smol-gap center dev-padding">
    <div class="flex center smol-gap">
      <input type="text" #keyword (keyup.enter)="getNewCat(keyword)" class="form-control-lg"
        placeholder="Enter some text..">
      <button class="btn btn-primary" (click)="getNewCat(keyword)">Get a cat</button>
    </div>
    <div class="row">
      <div *ngIf="RandomCatObject">
        <img [src]="RandomCatUrl">
      </div>
    </div>
    <div class="row" *ngIf="answers.length >= 1">
      <ul>
        <li *ngFor="let answer of answers" (click)="selectAnswer(answer)" ngClass="">
          {{answer}}
        </li>
      </ul>
    </div>
  </div>
</div>